<% if current_user %>
  Logged in as <%= current_user.email %>.
  <%= link_to "Log Out", logout_path %>
<% else %>
  <%= link_to "Sign Up", signup_path %> or 
  <%= link_to "Log In", login_path %>
<% end %>

<h2>Welcome To The Students/Faculty View!</h2>
<p>Users should be able to see a list of all students in a table, similar to the rotten potatoes app table. Sorting and filtering would be nice at some point.</p>
<p>Delete this HTML and implement your own, this is just inspiration. Cheers Mate.</p>
<p>This is a table</p>
<p>STUDENT</p>
<table width="187">
<tbody>
<tr>
<td>Last</td>
<td>First</td>
<td>CWID</td>
</tr>
<tr>
<td>Smith</td>
<td>Bob</td>
<td>1234</td>
</tr>
<tr>
<td>Smity</td>
<td>Bill</td>
<td>1234</td>
</tr>
<tr>
<td>Smith</td>
<td>Billy</td>
<td>1234</td>
</tr>
</tbody>
</table>
<p>Faculty</p>
<table>
<tbody>
<tr>
<td>Title</td>
<td>First</td>
<td>Last</td>
</tr>
<tr>
<td>Doctor&nbsp;</td>
<td>Joe</td>
<td>Smith</td>
</tr>
<tr>
<td>Professor</td>
<td>Jeff</td>
<td>Smity</td>
</tr>
<tr>
<td>Adj. Professor</td>
<td>Joel</td>
<td>Schmit</td>
</tr>
</tbody>
</table>