<hr />
<h1 style="color: #5e9ca0; text-align: center;">The Citadel Department of Mathematics and Computer Science</h1>
<h1 style="color: #5e9ca0; text-align: center;">Advisee Tracker</h1>
<hr />
<h2 style="color: #2e6c80;">&nbsp;</h2>
<h2 style="color: #2e6c80;">&nbsp;</h2>
<p>&nbsp;</p>
<table style="height: 140px; border-color: blue; margin-left: auto; margin-right: auto;" width="223">
<tbody>
<tr>
<td style="width: 103px;">Username:</td>
<td style="width: 104px;">&nbsp;</td>
</tr>
<tr>
<td style="width: 103px;">Password:</td>
<td style="width: 104px;">&nbsp;</td>
</tr>
<tr>
<td style="width: 103px; text-align: center;" colspan="2">Log In</td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>The Citadel Disclaimer (to be updated)</p>